# ML-Platform repository

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
dist/
build/

# SageMaker / ML
*.joblib
*.pkl
output/
mlruns/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
infra/terraform/envs/**/.build/
infra/terraform/modules/governance/build/

# Secrets
*.pem
credentials
